body{
    /* background-color: darkblue; */
    background-image: url("https://swoonproduction.s3.amazonaws.com/media/original_images/shutterstock_writing_feather_quill_ink.jpg");
}
h1{
    color: indianred;
}
fieldset{
    border-radius: 40px;
    text-align: justify;
    color: black;
    font-size: x-large;
    cursor: pointer;
    transform: translatey(0.4ms);
}
u{

color: green;
}
p{
    font-size: x-large;
    font-weight: bolder;
    /* color: white; */
}
.hammad{
    font-size: x-large;
    font-weight: bolder;
}
button{
    padding: 20px 0;
  border: none;
  border-radius: 30px;
  text-align: center;
  background: linear-gradient(to bottom, #000066 0%, #660033 100%);
  color:white;
  font-size: 56px;
  transition: 0.4s all;
  font-weight: bolder;
}
button:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    cursor: pointer;
    text-align: center;
  }
/* 


  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "lato" ;
}
.welcome_text{
    /* background-color: red; */
    /* width: 400px; */
/* }
.welcome_form input, .welcome_form button{
width: 100%;
    display: block;
}
.welcome_form :focus , .welcome_form:focus{
    outline: none;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: indigo;
}
.welcome_form input{
    margin-bottom: 15px;
background-color: transparent;
border: none;
border-bottom: 2px solid white;
color: white;
font-size: 30px;
text-align: center;
}
.none{
    color: none;
    background-color: transparent;
    
}
.option_group{
    list-style-type: none;
    margin: 30px 0px;
}  */
/* .option{
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 100px;
    border:2px solid transparent;
}
.option:hover{
    cursor: pointer;
    border:2px solid blue;
} */
.next_button{
    border-radius: 100px ;
    background-color: indigo;
    color: white ;
    padding: 15px 35px;
    border: none;
    transition: 0.4s all;
    border-color:none ;
}
.next_button:hover{
    cursor: pointer;
    /* border:2px solid blue; */
    color: indigo;
    background-color: white;
    box-shadow: 0px 0px 10px 1px0,9 rgb(0, 0, 0 ,0.3px);
}

.welcome_form button{
    padding: 20px 0;
    font-size: 22px;
    background-color: white;
    border: none;
    border-radius: 2em;
    transition: 0.4s all;

}

.welcome_form button:hover{
    transform: translatey(-5px);
    cursor: pointer;
}
/* .quiz{
    border-radius: 3px;
    display: grid;
    grid-template-rows: 60px auto;
    width: 800px;
    height: 500px;
    background-color: white;
}
.quiz_header{
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 3px ;
    border-top-left-radius: 3px;
    box-shadow: 0px 2px 5px 1px rgb(0,0 ,0 ,0.3);
    z-index: 1px;
    display: flex;
    justify-content: space-between;
} */
/* .quiz_body{
    background-color: rgb(200, 197, 198);
    padding: 30px;
} */

/* .quiz_user{
    display: flex;
    align-items: center;
    padding-left: 30px;
} */

/* .quiz_timer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: indigo;
    color: rgb(255, 255, 255);
    padding: 0px 30px;
} */


  